.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px;
    border-radius: 60px;
}

.button {
   color:#a087aa;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    height:30px;
    width: 100px;
    padding: 20px;
}

.previous-btn{
    background-color: rgba(60, 103, 233, 0.507);
    width:80%;

}
button:disabled {
    background-color: rgb(113, 53, 73);
    cursor:not-allowed;
    color: #999
}
.next-btn {
    background-color: rgb(78, 150, 7);
    width:80%;
    }