@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,
*::before,
*::after{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    background-color: rgb(12, 42, 51);
    color:#b19797;
}